pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('a')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "s",
								"value": {
									"value": "@string(item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "min",
								"value": {
									"value": "@json(variables('s')).age",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(variables('min'),variables('max'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable3",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "max",
											"value": {
												"value": "@variables('min')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"s": {
				"type": "String"
			},
			"i": {
				"type": "Integer"
			},
			"a": {
				"type": "Array",
				"defaultValue": [
					{
						"name": "Alice",
						"age": 30,
						"city": "New York"
					},
					{
						"name": "Bob",
						"age": 25,
						"city": "San Francisco"
					},
					{
						"name": "Charlie",
						"age": 35,
						"city": "Chicago"
					}
				]
			},
			"min": {
				"type": "Integer",
				"defaultValue": 0
			},
			"max": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}